*.idea
*.pyc
*.log
*.cache
*.sqlite3
*.egg*
.benchmarks

__pycache__/

python2
assets
python3
venv
logs/*

media/*
static/*
node_modules
*tests/snapshots/*
*tests/fixtures/gitignore/*

doctrees/
.buildinfo
