include README.md
include LICENSE
include MANIFEST.in

global-exclude __pycache__
global-exclude *.py[co]

recursive-exclude rest_framework/tests/*/* *
recursive-exclude docs_theme/*/* *
recursive-exclude requirements/*/* *
